<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/util"
       xmlns:utils="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">


    <utils:property-placeholder file-encoding="UTF-8" location="classpath*:kafka.properties"></utils:property-placeholder>

    <bean id="kafkaProducer" class="com.jiangwei.kafkatest.msproducer.impl.KafkaMsProducer" init-method="init">
        <property name="kafkaServers" value="${kafka.servers}"/>
        <property name="topic" value="${kafka.topic}"/>
    </bean>

    <bean id="abstractMsConsumer" abstract="true" class="com.jiangwei.kafkatest.msconsumer.AbstractMsConsumer">

    </bean>

    <bean id="kafkaMsConsumer" class="com.jiangwei.kafkatest.msconsumer.impl.KafkaMsConsumerRuner" init-method="init">
        <property name="kafkaServers" value="${kafka.servers}"/>
        <property name="topic" value="${kafka.topic}"/>
        <property name="consumerGroup" value="${kafka.consumer.groupId}"/>
        <property name="enableAutoCommit" value="false"/>
    </bean>
</beans>